<div class="demo-footer">
  <div>
    <div>Copyleft 2018. Rajasegar Chandran</div>
    <div>All rights not reserved</div>
  </div>
  <div>
    <div>Made with Indian Jigar Thanda</div>
  </div>
</div>
