<div class="sc-header">
  <img class="sc-header--img" src={{ @imageUrl }} alt="" />
  <div class="sc-header--team-name"> {{ @teamName }} </div>
  <div class="sc-header--close-button" onclick={{@onClose}}>
    <img src={{closeIcon}} alt="" />
  </div>
</div>
