<div class="demo-header">
  <div class="demo-header--title">glimmer-chat-window</div>
  <div class="demo-header--links">
    <a href="https://github.com/rajasegar/glimmer-live-chat">Usage</a>
  </div>
</div>
